{% {% extends 'base.html' %}%}

{% block content%}

<h1>Feel Good Coffee</h1>
<div class="row">
    {% for coffee in coffee %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ coffee.image }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ coffee.name }}</h5>
              <p class="card-text">Rs{{ coffee.price }}</p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>


          {% endfor %}
<ul>
    {% for coffee in coffee %}
    <li>{{coffee.name}}(Rs{{ coffee.price }}</li>
    {% endfor %}
</ul>

{% end block %}